.review-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: 
  linear-gradient(to bottom, var(--brown-color), var(--brown-color)),    /* Left border */
  linear-gradient(to right, var(--brown-color), var(--brown-color)),                    /* Bottom border */
  linear-gradient(to left, var(--brown-color), var(--brown-color));                   /* Right border */
background-size: 
  5px 80%,      /* Width and height for left border */
  100% 5px,      /* Width and height for bottom border */
  5px 80%;      /* Width and height for right border */
background-repeat: no-repeat;
background-position: 
  left bottom,   /* Positioning the left border */
  bottom left,   /* Positioning the bottom border */
  right bottom;  /* Positioning the right border */
}

.review-block .review-text {
  width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}


.product-name {
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

.stars-rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.stars-rate img {
  padding: .3rem;
}

.review-text{
  color: var(--gray-color);
  font-size: 1.3rem;
}

.review-info {
  color: var(--gray-darker-color);
  font-size: 1.2rem;
  text-align: center;
}

/* Media Query for Tablets */
/* @media (max-width: 1040px) { 

  .review-block  {
    padding-top: 10px;
  }

  .product-name {
    font-size: 1rem;
  }
  .stars-rate {
    padding-top: 0;
  }
  .stars-rate img {
    padding: .1rem;
  }

  .review-text{ 
  font-size: 1rem;

  }

} */

/* Media Query for Mobile */
/* @media (max-width: 720px) {

} */
