.hero {
  background: linear-gradient(
    to bottom,
    var(--white-color) 60%,
    var(--brackground-color) 50%
  );
  margin: 0;
}

.hero h1 {
  margin: 0;
  padding-top: 6rem;
  font-size: 3rem;
  font-weight: 0;
}

.headline {
  font-size: 1.5rem;
}

h1,
.headline {
  text-align: center;
}

.image-hero {
  padding-top: 2rem;
  max-width: 100%;
  display: block;
  height: auto;
}

hr {
  width: 475.5px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stars img {
  padding: 1rem;
}

/* Media Query for Tablets */
@media (max-width: 1040px) {
  .hero h1 {
    padding-top: 2.5rem;
  }

  .stars img {
    padding-top: 0;
    padding-right: 0.8rem;
  }

}

/* Media Query for Mobile */
@media (max-width: 720px) {
    .hero h1 {
        padding-top: 1rem;
        font-size: 2rem;
      }

      .headline {
        font-size: 1rem;
      }

      hr {
        width: 300px;
      } 

      .stars img {
        padding-top: 0;
        width: 40px;
      }

      .image-hero {
        padding-top: 0;
      }
    }
