nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
  background-color: var(--brackground-color);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1024px;
}

.logo {
  width: 125px;
  height: 82.332px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 39px;
  padding-left: 50px;
}

nav ul li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.colorWhite {
  color: var(--white-color);
}

.colorGold {
  color: var(--gold-color);
}

.search {
    margin-left: -170px;
    display: flex;
    align-items: center;
    padding-right: 0;
  }

.search-input{
  display: flex;
  width: 231px;
  height: 50px;
  padding: 0px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: inherit;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.53);
}

.search-button {
    height: 50px;
    background-color: var(--white-color);
    border-color: var(--white-color);
}