.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery-title {
    color: var(--white-color);
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(255, 194, 73, 0.19);
}

@media (max-width: 720px) {
    .gallery {
        flex-direction: column;
        padding-bottom: 30px;

    }


}