#testimonials {
  width: 70%;
  margin: 0 auto;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  justify-content: center;
}

/* .reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} */

/* #testimonials ul li {
  border-bottom: 2px solid var(--brown-color);
  position: relative;
  list-style: none;
  width: 400px;
}

#testimonials ul li::before,
#testimonials ul li::after {
  content: "";
  position: absolute;
  top: 30%;
  bottom: 0; 
  width: 2px;
  background-color: var(--brown-color);
}

#testimonials ul li:before {
  left: 0;
}

#testimonials ul li:after {
  right: 0;
}


.testi-image {
  position: relative;
}

.picture {
  width: 100%;
  position: absolute;
  top: -50px;
  z-index: 2;
}

.ellipse {
  width: 100%;
  position: absolute;
  z-index: 1;
}
 */


