#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list {
  display: flex;
  max-width: 1024px;
  overflow-x: auto;
}

.reviews-grid-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-auto-flow: column;  
  gap: 20px;  
  padding-top: 5px;
  padding-bottom: 5px;             

}

/* The scrollbar itself */
.reviews-list::-webkit-scrollbar {
  width: 10px;  /* Width of the vertical scrollbar */
  height: 10px; /* Height for horizontal scrollbars if needed */

}

/* The track of the scrollbar (the background) */
.reviews-list::-webkit-scrollbar-track {
  background: var(--background-color) ;
  border-radius: 10px;
}

/* The handle of the scrollbar (the moving part) */
.reviews-list::-webkit-scrollbar-thumb {
  background: var(--gray-darker-color); 
}

/* On hover of the handle */
.reviews-list::-webkit-scrollbar-thumb:hover {
  background: var(--gary-over-color);
}
